{% extends 'base.html.twig' %}

{% block body %}
    <h1>NetFleet</h1>

    <h2>Tous les Films</h2>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.Name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
